<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983753281482-cpiib0puicn2s4cjj02pgbti3l0gm065.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983753281482-cpiib0puicn2s4cjj02pgbti3l0gm065</string>
	<key>API_KEY</key>
	<string>AIzaSyBeKgJ5fH3I-fbxibNzdPuiG2OKdvMFnGw</string>
	<key>GCM_SENDER_ID</key>
	<string>983753281482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>danilSabitov.GameApp-2-0</string>
	<key>PROJECT_ID</key>
	<string>shipgame-fa0d6</string>
	<key>STORAGE_BUCKET</key>
	<string>shipgame-fa0d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983753281482:ios:aa8a8b9dd846b6a4ef0933</string>
</dict>
</plist>