<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977866736509-a3ejrqjvcj51ubdglppkm4r1v2qqlbeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977866736509-a3ejrqjvcj51ubdglppkm4r1v2qqlbeg</string>
	<key>API_KEY</key>
	<string>AIzaSyCdC4NhyahmZaXZoljbGU8AMlQhF2I4H6U</string>
	<key>GCM_SENDER_ID</key>
	<string>977866736509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>danilSabitov.GameApp-2-0</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-d0552</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-d0552.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977866736509:ios:d8a4a59413f2a8115f0214</string>
</dict>
</plist>